$sub-color: grey;
$main-color: black;

@mixin shrinkLabel {
    top: -14px;
    font-size: 12px;
    color: $main-color;
}

.group{
    position: relative;
    margin: 45px 0;

    .form-input{
        background: none;
        background-color: white;
    }
}